navbar-view()
  // layout
  .navbar-view
    row()
    backface-visibility: hidden
    top: 0
    left: 0
    width: 100%
    position: fixed
    // overflow: hidden
    z-index: 9999

    @media phone
      position: relative

    nav
      clearfix()
      max-width: total-width
      margin: 0 auto
      height: 100%

      > a
        height: 100%
        column(2)
        @media phone
          height: 44px
          column(12)

  // styles
  .navbar-view
    background: $secondary-colour

    nav
      border = solid gray 1px

      > a
        text-decoration: none
        padding: 18px
        text-align: center
        font-weight: 600
        line-height: 100%
        border-right: border
        color: $white
        transition: all 0.25s

        @media phone
          border-right: none
          border-bottom: solid gray 1px

      > a:first-child
        border-left: border
        @media phone
          border-top: none

      > a:active
        background: gray

      > a:hover
        background: gray
