<nav>
  <a href="/" class="logo" data-title="Chalice">Chalice</a>
  <a href="/" class="home" data-title="Getting Started">Getting Started</a>
  {{#items}}
    <a href="/{{slug}}" data-title="{{title}}">{{title}}</a>
  {{/items}}
</nav>
