code-color-keyword = #e0c090
code-color-attribute = #a9c2ba
code-color-property = #abd9cf
code-color-class = #cee4dd
code-color-variable = #b9d0af
code-color-string = #e9baba
code-color-interpolated = #cba8d6
code-color-punctuation = #ded3a1
code-color-comment = #b1bac4

ul.sections
  padding-top: 10px
  li
    row()

.docs, .code
  column(6)
  overflow: scroll
  min-height: 130px

@media phone
  .docs, .code
    column(12)
    min-height: 50px
    padding-bottom: 50px

p {
  margin: 15px 0 0px;
}

pre, tt {
  font-size: 12px; line-height: 16px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}
.sections blockquote p {
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 12px; line-height: 16px;
  color: #999;
  margin: 10px 0 0;
  white-space: pre-wrap;
}

ul.sections {
  list-style: none;
  margin:0;
}

/*
  Force border-box so that % widths fit the parent
  container without overlap because of margin/padding.

  More Info : http://www.quirksmode.org/css/box.html
*/


/*---------------------- Low resolutions (> 320px) ---------------------*/
@media only screen and phone{

  ul.sections > li > div.content {
    background: #f5f5ff;
    overflow-x:auto;
    -webkit-box-shadow: inset 0 0 5px #e5e5ee;
    box-shadow: inset 0 0 5px #e5e5ee;
    border: 1px solid #dedede;
    margin:5px 10px 5px 10px;
    padding-bottom: 5px;
  }

  ul.sections > li > div.annotation pre {
    margin: 7px 0 7px;
    padding-left: 15px;
  }

  ul.sections > li > div.annotation p tt, .annotation code {
    background: #f8f8ff;
    border: 1px solid #dedede;
    font-size: 12px;
    padding: 0 0.2em;
  }
}

/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
  #container {
    position: relative;
  }
  pre, tt, code {
    line-height: 18px;
  }
  p, ul, ol {
    margin: 0 0 15px;
  }

  #background {
    position: absolute;
    top: 0; bottom: 0;
    width: 350px;
    background: #fff;
    border-right: 1px solid #e5e5ee;
    z-index: -1;
  }

  ul.sections > li > div.annotation ul, ul.sections > li > div.annotation ol {
    padding-left: 40px;
  }


  ul.sections > li > div {
    display: inline-block;
  }

  ul.sections > li > div.annotation {
    max-width: 350px;
    min-width: 350px;
    min-height: 5px;
    padding: 13px;
    overflow-x: hidden;
    white-space: normal;
    vertical-align: top;
    text-align: left;
  }
  ul.sections > li > div.annotation pre {
    margin: 15px 0 15px;
    padding-left: 15px;
  }

  ul.sections > li > div.content {
    padding: 13px;
    vertical-align: top;
    background: #f5f5ff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .pilwrap {
    position: relative;
    display: inline;
  }

  .pilcrow {
    font: 12px Arial;
    text-decoration: none;
    color: #454545;
    position: absolute;
    top: 3px; left: -20px;
    padding: 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
  }
    .for-h1 .pilcrow {
      top: 47px;
    }
    .for-h2 .pilcrow, .for-h3 .pilcrow, .for-h4 .pilcrow {
      top: 35px;
    }

  ul.sections > li > div.annotation:hover .pilcrow {
    opacity: 1;
  }
}

/*---------------------- (> 1025px) ---------------------*/
@media only screen and (min-width: 1025px) {

  #background {
    width: 525px;
  }
  ul.sections > li > div.annotation {
    max-width: 525px;
    min-width: 525px;
    padding: 10px 25px 1px 50px;
  }
  ul.sections > li > div.content {
    padding: 9px 15px 16px 25px;
  }
}

/*---------------------- Syntax Highlighting -----------------------------*/

td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #000;
  background: #f8f8ff
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #408080;
  font-style: italic
}

pre .keyword,
pre .assignment,
pre .literal,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .lisp .title,
pre .subst {
  color: #954121;
  /*font-weight: bold*/
}

pre .number,
pre .hexcolor {
  color: #40a070
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #219161;
}

pre .title,
pre .id {
  color: #19469D;
}
pre .params {
  color: #00F;
}

pre .javascript .title,
pre .lisp .title,
pre .subst {
  font-weight: normal
}

pre .class .title,
pre .haskell .label,
pre .tex .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body {
  color: #008080
}

pre .regexp {
  color: #B68
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .lisp .keyword,
pre .tex .special,
pre .input_number {
  color: #990073
}

pre .builtin,
pre .constructor,
pre .built_in,
pre .lisp .title {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}

pre .tex .formula {
  opacity: 0.5;
}


// Keyword
.k
  color: code-color-keyword
// Keyword.Constant
.kc
  color: code-color-keyword
// Keyword.Declaration
.kd
  color: code-color-keyword
// Keyword.Pseudo
.kp
  color: code-color-keyword
// Keyword.Reserved
.kr
  color: code-color-keyword
// Keyword.Type
.kt
  color: code-color-keyword

// Name.Attribute
.na
  color: code-color-attribute
// Name.Class
.nc
  color: code-color-class
// Name.Constant
.no
  color: code-color-class
// Name.Decorator
.nd
  color: code-color-class
// Name.Entity
.ni
// Name.Exception
.ne
// Name.Function
.nf
  color: code-color-property
// Name.Property
.py
  color: code-color-property


// Name.Variable
.nv
  color: code-color-variable
// Name.Variable.Class
.vc
  color: code-color-variable
// Name.Variable.Global
.vg
  color: code-color-variable
// Name.Variable.Instance
.vi
  color: code-color-variable

// String
.s
  color: code-color-string
// String.Backtick
.sb
  color: code-color-string
// String.Char
.sc
  color: code-color-string
// String.Doc
.sd
  color: code-color-string
// String.Double
.s2
  color: code-color-string
// String.Escape
.se
  color: code-color-string
// String.Heredoc
.sh
  color: code-color-string
// String.Interpol
.si
  color: code-color-string
// String.Other
.sx
  color: code-color-string
// String.Regex
.sr
  color: code-color-interpolated
// String.Single
.s1
  color: code-color-string
// String.Symbol
.ss
  color: code-color-interpolated

// Number
.m
  color: code-color-interpolated
// Number.Float
.mf
  color: code-color-interpolated
// Number.Hex
.mh
  color: code-color-interpolated
// Number.Integer
.mi
  color: code-color-interpolated
// Number.Integer.Long
.il
  color: code-color-interpolated
// Number.Oct
.mo
  color: code-color-interpolated

// Operator
.o
  color: code-color-punctuation

// Operator.Word
.ow
  color: code-color-punctuation

// Punctuation
.p
  color: #ded3a1

// Comment.*
.c, .cm, .cp, .c1, .cs
  font-style: italic

// Comment
.c
  color: code-color-comment
// Comment.Multiline
.cm
  color: code-color-comment
// Comment.Preproc
.cp
  color: code-color-comment
// Comment.Single
.c1
  color: code-color-comment
// Comment.Special
.cs
  color: code-color-comment
