// variables
$primary-colour = #232323
$max-width = 800px

// device media queries
tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

@import 'reset'
@import 'misc'
@import 'grid'
@import 'docco'
@import 'views/view'
@import 'views/composite'
@import 'views/navbar'
@import 'views/composite'

// base view mixins
navbar-view()
view()
composite-view()

body
  overflow: hidden
  row()
  margin: 0 auto
  background: $primary-colour
  font-size: 100%

.app-view
  padding-top: 44px
  @media phone
    padding-top: 0px

.view
  max-width: 100%
  padding: 10px

nav
  // max-width: $max-width
