// Variables
$white = #fff
$black = #000
$gray = #232323
$secondary-colour = #6a598d
$primary-colour = #232323
$max-width = 800px

// Device MediaQueries
tablet = '(min-width: 768px) and (max-width: 979px)'
phone = '(max-width: 767px)'
desktop = 'only screen and (min-width: 1024px)'

desktop-device = 'only screen and (min-device-width: 1024px)'
tablet-device = 'only screen and (min-device-width: 768px) and (max-device-width: 979px)'
phone-device = 'only screen and (max-device-width: 767px)'

// Mixins
@import '_reset'
@import 'misc'
@import 'grid'
@import 'docco'
@import 'views/view'
@import 'views/composite'
@import 'views/navbar'
@import 'views/composite'

// Base View Mixins
navbar-view()
view()
composite-view()

html
  overflow-x: hidden

body
  row()

h1, h2, h3, h4, h5, h6
  font-family: 'Ubuntu', sans-serif

h1
  font-size: 42px
  line-height: 180%
  letter-spacing: -1px
  margin: 0 0 25px 0

.hero
  display: block
  width: 120%
  height: 225px
  margin: 0 0 25px -10%
  overflow: hidden
  background: $secondary-colour

.app-view
  padding-top: 44px

  @media phone
    padding-top: 0px

.view
  overflow: hidden
